{% extends'base.html.twig' %}

{% block title 'Admin Interface' %}
{% block body %}
    <div class="container mt-4">
        <h1>Edit expense </h1>
        {{ form_start(form) }}
            {{ form_rest(form) }}
        <button class="btn btn-primary">Edit</button>
        {{ form_end(form) }}

    </div>
{% endblock %}